:root{
  /* backgrounds colors*/
  --bg1-color: #282B30;
  --bg2-color: #212328;
  --bg3-color: #1E2124;

  /* secondary colors */
  --secondary-color: linear-gradient(270deg, #152438 0%, #182434 48.96%, #212933 100%);

  /* font colors */
  --white-: #fff
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: var(--white-);
}

main{
  display: flex;
}

.tasks .tasks-header{
  background: linear-gradient(270deg, #152438 0%, #182434 48.96%, #212933 100%);
  padding: 13px 9px;
}

.tasks {
  width: 350.44px;
  min-height: 100vh;
    
  background: var(--bg1-color);
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 13px;
}

.task-body {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  background: var(--bg3-color);
  border-radius: 10px;
  padding: 21px 18px;
}

.tasks .task .task-body p{
  font-size: 12pt;
}

.tasks .task .task-body input:checked {
  background-color: #fff;
}


/*
* CARD ACTIONS
*/

.completed p{
  text-decoration: line-through;
  opacity: 0.5;
}

/*
* CARD COLORS 
*/


.green {
  border-left: 10px #14FF00 solid; 
}

.red {
  border-left: 10px #FF0000 solid; 
}


